* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100dvh;
  min-width: 100vw;
  font-size: 62.5%;
  font-family:  Poppins 'sans-serif';
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}
@media (max-width: 460px) {
  .container {
    padding: 0 1.7rem;
  }
}