html{
  scroll-behavior: smooth;
}
nav {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  font-size: 1.7rem;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.logo {
  color: #2d2e32;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul a {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.23s;
  position: relative;
}
nav ul a.active{
  color: rgb(76, 115, 255);
}

nav ul a:hover{
    color: rgb(76, 115, 255);
}

